<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Pet Clinic | Owners</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="guru.springframework.sfgpetclinic.model.Owner"*/-->

    <h2 th:text="'List of owners'">List</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 150px;">ID</th>
            <th style="width: 150px;">First Name</th>
            <th style="width: 150px;">Last name</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="owner : ${owners}">
            <th th:text="${owner.id}">1</th>
            <th th:text="${owner.firstName}">Name</th>
            <th th:text="${owner.lastName}">Last Name</th>
        </tr>
    </tbody>
</table>

</body>
</html>