<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Clinic | Owners</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="guru.springframework.sfgpetclinic.model.Owner"*/-->

    <h1 th:text="'List of owners'">List</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last name</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="owner : ${owners}">
            <th th:text="${owner.id}">1</th>
            <th th:text="${owner.firstName}">Name</th>
            <th th:text="${owner.lastName}">Last Name</th>
        </tr>
    </tbody>
</table>

</body>
</html>