<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>Pet Clinic | Home</title>
</head>
<body>
<!--/*@thymesVar id="vet" type="guru.springframework.sfgpetclinic.model.Vet"*/-->
<h2 th:text="'List of owners'">List</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">ID</th>
        <th style="width: 150px;">First Name</th>
        <th style="width: 150px;">Last name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <th th:text="${vet.id}">1</th>
        <th th:text="${vet.firstName}">Name</th>
        <th th:text="${vet.lastName}">Last Name</th>
    </tr>
    </tbody>
</table>
</body>
</html>